@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    @apply inline-block;
  }
  .font-outline-bronze {
    -webkit-text-stroke: 0.5px rgb(205 127 50);
  }
  .font-outline-silver {
    -webkit-text-stroke: 0.5px rgb(229 228 226);
  }
  .font-outline-gold {
    -webkit-text-stroke: 0.5px rgb(255, 215, 0);
  }
  .font-outline-rainbow {
    background-image: linear-gradient(
      to right,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet
    );
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.2px white;
  }
  .font-outline-black {
    -webkit-text-stroke: 1px rgb(0, 0, 0);
  }

  .font-outline-kaiden {
    -webkit-text-stroke: 0.8px rgba(211, 139, 38, 255);
  }

  .font-outline-chuden {
    -webkit-text-stroke: 0.8px rgba(105, 0, 186, 255);
  }

  .font-outline-reddan {
    -webkit-text-stroke: 0.8px rgba(247, 21, 29, 255);
  }

  .font-outline-bluedan {
    -webkit-text-stroke: 0.8px rgba(32, 86, 246, 255);
  }

  .font-color-gray {
    color : gray
  }

  @font-face {
    font-family: 'MonoplexKRWideNerd-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-widenerd@1.0/MonoplexKRWideNerd-Bold.woff2')
      format('woff2');
    font-weight: 700;
    font-style: normal;
  }
}
